/*--
Author: W3layouts
Author URL: http://w3layouts.com
Distributor: http://bootstraptema.ru/
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Baumans', cursive;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--banner--*/
.banner{
	min-height: 700px;
	background:url(../images/a.jpg)no-repeat center 0px;
	background-size:cover;
	position: relative;
}
.header {
    padding: 1.2em 0;
}
/*-- logo --*/
.navbar-header h1 {
    font-size: 3em; 
    display: block;  
}
.navbar-header h1 a {
    color: #8A2BE2;
    text-decoration: none;
    display: block;
}
/*-- //logo --*/
/*-- top-nav --*/
.navbar-default {
    background: none;
    border: none;
	margin: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
    background: none;
}
.navbar-nav > li {
    margin: 0 1.2em;
}
.navbar-default .navbar-nav > li > a {
    color: #999;
    font-size: 1.3em;
    padding: 0.5em 0.3em;
    position: relative;
    font-family: 'Baumans', cursive;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #FF69B4;
}
.navbar-default .navbar-nav > li > a:before {
    content: '';
    position: absolute;
    bottom: -2px;
    background: #FF69B4;
    height: 3px;
    width: 0;
    left: 0;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.navbar-default .navbar-nav li  a:hover:before,.navbar-default .navbar-nav li a.active:before{
	width: 100%;
}
/*-- //top-nav --*/
/*-- banner --*/
.banner {
    background: url(../images/a.jpg) no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 700px;
    position: relative;
}
.banner-text {
    text-align: center;
    width: 57%;
    margin-top: 13%;
}
.banner-text h4 {
    color: #fff;
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.banner-text h2 {
    color: #fff;
    font-size: 9em;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    line-height: 1em;
}
.banner-text h3 {
    color: #FF69B4;
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0.5em 0 .2em;
}
.banner-text p {
    color: #fff;
    font-size: 1em;
    line-height: 2em;
    font-weight: 300;
}
/*-- //banner --*/
/*-- skills --*/
.skills,.features,.subscribe,.about,.about-slid,.team,.gallery,.contact,.blog,.codes{
	padding:5em 0;
}
.w3ls-title h3 {
    font-size: 3em;
    text-align: center;
    color: #8A2BE2;
    margin: 0 auto 1em;
    position: relative;
    width: 24%;
    padding-bottom: .4em;
    text-transform: uppercase;
}
.w3ls-title h3:before {
    content: '';
    width: 40%;
    height: 3px;
    background: #FF69B4;
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.agileits:hover .w3ls-title h3:before{
	width: 100%;
}
p {
    font-size: 1em;
    color: #888;
    line-height: 1.8em;
    text-align: center;
}
.skills-right ul {
    text-align: center;
}
.skills ul li {
    display: inline-block;
    margin: 0 2em 0 0;
}
.skills-w3row {
    margin-top: 2em;
}
.skills h4 {
    font-size: 2.5em;
    margin: 1.5em 0;
}
.skills ul li p {
    margin-top: 1em;
}
/*-- //skills --*/
/*-- slid --*/
.slid {
    background: url(../images/a.jpg)no-repeat center 0px fixed;
    background-size: cover;
    padding: 6em 0 8em;
}
.slid h3 {
    font-size: 4em;
    color: #fff;
    text-align: center;
}
.slid p {
    color: #fff;
    width: 72%;
    margin: 2em auto 0;
}
/*-- //slid --*/
/*-- features --*/
.features-w3ls-row {
    margin-top: 4em;
}
.features-grid {
    text-align: center;
    padding: 0 2.5em;
}
.features span {
    font-size: 1.5em;
    color: #FF69B4;
    background: #fff;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    padding: 1em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.features h5 {
    font-size: 1.6em;
    margin: 0.8em 0 .4em;
    color: #333;
}
.features-grid:hover span.glyphicon {
    background: #FF69B4;
    color: #fff;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
    transform: scale(1.2);
}
/*-- //features --*/
/*-- subscribe --*/
.subscribe {
    background: #012723; 
}
.subscribe-info { 
    text-align: center;
}
.subscribe form {
    margin: 0 auto;
    width: 30%;
}
.subscribe input[type="text"] {
    width: 63%;
    padding: 0.8em;
    font-size: 0.9em;
    float: left;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    background: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.subscribe input[type="submit"] {
    float: left;
    color: #fff;
    font-size: .9em;
    outline: none;
    padding: 0.8em 1.5em;
    border: 1px solid #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-appearance: none;
    background: none;
    margin-left: 1.5em;
}
.subscribe p {
    margin: 1.5em 0;
}
.subscribe h4 {
    color: #fff;
    font-size: 2em;
}
.subscribe input[type="submit"]:hover {
    color: #FF69B4;
    border-color: #FF69B4;
}
/*-- //subscribe --*/
/*-- map --*/
.map {
    position: relative;
}
.map iframe {
    width: 100%;
    min-height: 500px;
    border: none;
}
.address {
    position: absolute;
    top: 17%;
    background: #012723;
    padding: 4em 8em 4em 23em;
    text-align: left;
    width: 43%;
}
.map .w3ls-title h3 {
    font-size: 2em;
    width: 73%;
    margin: 0 0 1em;
	color: #fff;
}
.address h4 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.5em;
}
.address p {
    color: #fff;
    margin-bottom: .6em;
    text-align: left;
    font-weight: 300;
}
.address p a {
    font-size: 1em;
    color: #FF69B4;
}
.address p a:hover { 
    color: #fff;
}
.map .social-icons li a {
    margin-right: 0.1em;
}
/*-- social-icons --*/
ul.social-icons{
	display:block;
	padding: 0;
}
.social-icons li {
    display: inline-block;
    font-size: 1em;
    color: #fff;
	vertical-align: middle;
}
.social-icons li a {

    display: block;
    height: 30px;
    width: 30px;
    margin-right: 0.5em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.social-icons li a:before {
	content: '';
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid transparent;	  
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.social-icons li a.fb{
	background-position:2px -31px;
}
.social-icons li a.in {
    background-position: 3px -63px;
}
.social-icons li a.dott {
    background-position: 2px -95px;
}
.social-icons li a:hover::before {
    border-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
    border-radius: 50%;
}
/*-- //social-icons --*/
/*-- //map --*/
/*-- footer --*/
.footer {
    padding: 3em 0;
    background: #012723;
    text-align: center;
}
.footer h3 {
    font-size: 3em;
    display: block;
}
.footer h3 a {
    color: #8A2BE2;
    text-decoration: none;
    display: block;
}
.footer p {
    color: #fff;
    margin-top: 1em;
}
.footer p a {
    color: #FF69B4;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.footer p a:hover{
    color: #fff;
}
/*-- //footer --*/
/*-- about-us --*/
.banner.about-banner {
    min-height: 250px;
}
.banner.about-banner .banner-text h2 {
    font-size: 4em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.52);
}
.banner.about-banner .banner-text{ 
    margin-top: 8%;
}
.about .w3ls-title h3 {
    width: 18%;
}
/*-- img-hovers --*/
.pic { 
    position: relative;
    overflow: hidden;
    display: block;
    animation: anima 2s;
    -webkit-animation: anima 2s;
    -moz-animation: anima 2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.pic .pic-image, .pic-caption, .pic:hover .pic-caption, .pic:hover img {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.pic-image {
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
    transform: scale(1.1);
} 
.stack img { 
	width: 100%; height: auto; vertical-align: bottom; border: 10px solid #9FDECD; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.stack:last-of-type { margin-right: 0; }

/* Third stack example (One stack element rotated in the opposite direction) */
.stack.twisted:before {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}	
.stack.twisted:after {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}	
/* Reset all rotations on hover */
.stack:hover:before, .stack:hover:after,.team-grid:hover .stack:before,.team-grid:hover .stack:after{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
/* Stacks creted by the use of generated content */
.stack:before, .stack:after { 
	content: ""; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	width: 100%; height: 100%; position: absolute; border: 10px solid #9FDECD; left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
}
.stack:before { top: 4px; z-index: -10; } /* 1st element in stack (behind image) */	
.stack:after { top: 8px; z-index: -20; } /* 2nd element in stack (behind image) */
.stack { float: none;     width: 92%;
    margin:3% 0% 8% 4%; position: relative; z-index:998; }
/*-- //img-hovers --*/
.about h5 {
    font-size: 1.8em;
    color: #000;
    margin-top: 1em;
}
.about-right p {
    text-align: left;
    margin-top: 1em;
}
/*-- panel-accordion --*/
.w3ls-about h3.title-agile {
    margin-bottom: 0.8em;
}
.panel-group {
    margin: 1.5em 0 0;
}
.panel-heading {
    padding: 10px 5px;
}
.panel-default span.glyphicon {
    color: #FF69B4;
    margin-right: 1em;
}
.panel-title {
    font-size: 1.3em;
    color: #333;
    text-transform: capitalize;
    text-decoration: none;
}
a.pa_italic:focus {
    text-decoration: none;
}
.panel-default {
    border-color: #FFF;
}
.panel-default > .panel-heading {
    border-color: #FFF;
	color:#212121;
    background-color: #fff;
}
.panel-body {
    padding: 1em 1em 0.5em;
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
.panel-default > .panel-heading {
    border-bottom: 1px solid #ccc;
} 
/*-- //about-us --*/ 
/*-- about-slid --*/
.flip-content {
    width: 275px;
}
.about-slid {
    background: url(../images/a.jpg)no-repeat center 0px fixed;
    background-size: cover; 
}
.pricing {
	margin: 0 auto; 
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.pricing-top{
    padding: 1.2em 0;
	background:#FF69B4;
	text-align:center;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
}
.top-two{
	background:#0099e5;
}
.top-three{
	background:#a94442;
} 
.top-four{ 
	background:#F17E18;
} 
.top-five{ 
	background:#00C872;
} 
.pricing-top h3{
	color:#FFF;
	font-size:2em;
	margin:0; 
}
.pricing-top p{
	color:#FFF;
	font-size:.875em;
	margin:1em 0 0 0;
}
.pricing-bottom{
    background: #FFF;
    text-align: center;
    padding: 2em;
    border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
}
.pricing-bottom-top {
    padding-bottom: 1.5em;
}
.pricing-bottom-top p {
    color: #333;
    margin: 0;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 500;
    margin-top: 0.5em;
}
.pricing-bottom-top p.display-none {
	-moz-opacity: .2;
    opacity: .2;
}
.pricing-bottom-bottom{
	padding: 1.5em 0;
    border-top: solid 1px #EFECEC;
    border-bottom: solid 1px #EFECEC;
}
.pricing-bottom-bottom p{  
	color: #8A2BE2;
}
.pricing-bottom-bottom p span {
    font-weight: 300;
    color: #8A2BE2;
    font-size: 1.8em;
}
p.text {
    margin-bottom: 0;
}
.buy-button { 
    margin: 1.5em 0 0 0;
}
.buy-button a{
    background:#FF69B4;
    padding: .5em 2em;
	border: solid 1px #FF69B4;
    color: #fff;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-size: 1em;
	display: inline-block;
}
.buy-button a:hover{
	background: none;
	border-color:#FF69B4;
	color:#FF69B4;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
/*-- //about-slid --*/
/*-- team --*/
.team-grids .team-img {
	overflow: hidden;
	position: relative;
	display: block;
}
.captn h4 {
    color: #fff;
    font-size: 2.1em;
    margin-top: 2px;
}
.captn p {
    font-size: 1em;
    margin-top: 0.5em;
	color:#fff;
	line-height:1.8em;
}
.team-grids .captn {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    right: 0;
    background-color: rgba(253, 104, 179, 0.77);
    text-align: center;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.captn-top {
    padding: 22% 10%;
}
.team-img:hover .captn {
	width: 100%;
	top: 0%;
}
img.img-responsive {
    width: 100%;
}
.team .social-icons {
    background: #BF2371;
    padding: 1.5em 1em;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
    transform: scale(0);
	-webkit-transition: 1s all;
	-moz-transition: 1s all; 
    transition: 1s all;
}
.team-img:hover .social-icons {
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
    transform: scale(1);
}
/*--//team--*/
/*-- gallery --*/
.gallery-grid {
    margin-top: 2em;
}
.wpf-demo-4 {
	background-color: #FF69B4;
	display: block; 
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; 
	width: 100%;
	height: 250px;
}
.wpf-demo-4 a.item-hover {
    display: block;
}
.wpf-demo-4 img {
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-moz-transform: scale(1.08);
	-o-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}
.wpf-demo-4:hover img {
    height: 100%;
    margin-left: -42px;
    margin-top: -7px;
	-webkit-transform: translateY(-10%) rotate(-42deg) scale(1.5);
	-moz-transform: translateY(-10%) rotate(-42deg) scale(1.5);
	-o-transform: translateY(-10%) rotate(-42deg) scale(1.5);
	-moz-transform: translateY(-10%) rotate(-42deg) scale(1.5);
    transform: translateY(-10%) rotate(-42deg) scale(1.5);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
    width: 134%;
}
.wpf-demo-4:hover .view-caption {
    text-align: right;
	-webkit-transform: translateY(-111%);
	-moz-transform: translateY(-111%);
	-o-transform: translateY(-111%);
	-moz-transform: translateY(-111%);
    transform: translateY(-111%);
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
    bottom: 0;
}
.wpf-demo-4 .view-caption {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; 
	text-align: right;
	position: absolute;
	right: 0;
	bottom: -25px;
}
.wpf-demo-4 .view-caption p {
    color: #fff;
    font-size: 1em;
    padding-right: 7px;
}
/*-- jzBox-lightbox --*/
#jzBox {
	top: 0;
	left: 0;
	z-index: 10000;
	position: fixed;
	background-color: rgba(30, 30, 30, 0.9);
	margin: 0 !important;
	text-align: center;
	width: 100%;
	height: 100%;
	display: none;
	color: #fff;
}
#jzBoxTargetImg {
	margin:6% 0 1% 0;
	max-width: 96%;
	max-height: 73%;
	cursor: pointer;
}
#jzBoxCounter {
	margin-bottom: 1%;
	font-size: 12px;
}

#jzBox i:hover {
	cursor: pointer;
	color: #2aabd2;
}

#jzBoxBottom { max-height: 22%; }

#jzBoxNextBig, #jzBoxPrevBig {
	cursor: pointer;
	top: 0;
	left: 0;
	width: 35%;
	position: fixed;
	z-index: 10001;
	height: 100%;
}

#jzBoxNextBig { left: 65%; }

.close {
    float: none;
    opacity:1;
    background: url(../images/close.png) no-repeat 0px 0px;
    display: block;
    width: 32px;
    height: 32px;
	margin:1em auto 0;
}
.arrow-left{
	background: url(../images/left.png) no-repeat 0px 0px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
	margin-right: 2em;
}
.arrow-right{
	background: url(../images/right.png) no-repeat 0px 0px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
} 
.item-type-move .item-hover {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-decoration: none;
    background: #FF69B4;
	display:block;
} 
/*-- //jzBox-lightbox --*/
/*-- //gallery --*/
/*-- contact --*/ 
.contact input[type="text"] {
    width: 47.7%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    margin-bottom: 1.5em;
    border: solid 1px #999;
    -webkit-appearance: none;
    display: inline-block;
}
.contact  input.email {
    margin: 0 0 0 2em;
}
.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #999;
    min-height: 12em;
    -webkit-appearance: none;
}
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.6em 4em;
    font-size: 1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #FF69B4;
    transition: 0.5s all;
    border: 2px solid #FF69B4;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.contact  input[type="submit"]:hover {
    background: none;
    color: #FF69B4;
}
::-webkit-input-placeholder {
	color:#999 !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#999 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#999 !important;
}
:-ms-input-placeholder {  
	color:#999 !important;
}
.contact-right h4 {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.6em;
}
.contact-text {
    background: #D2AEF4;
    padding: 2em;
}
.contact-right h4 {
    font-size: 1.8em;
    color: #000;
}
.contact-text p {
    color: #fff;
    font-size: 1.1em;
    margin-top: 0.8em;
    text-align: left;
}
/*-- //contact --*/
/*-- slider-up-arrow --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;

}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //slider-up-arrow --*/
/*-- blog --*/
.blog-grids-left {
    float: left;
    width: 45%;
	position:relative;
	overflow:hidden;
}
.blog-grids-right {
    float: right;
    width: 55%;
    background: #EFEFEF;
    padding: 1.5em;
    height: 250px;
}
.blog-grids-right h4 {
    font-size: 1.6em;
}
.blog-grids-right h4 a{
   color:#000;
}
.blog-grids-right h4 a:hover {
    color: #8A2BE2;
}
.blog-grids-left img {
    height: 250px;
}
.blog p {
    text-align: left;
}
p.snglp {
    margin: 1em 0 .5em;
}
p.snglp a {
    color: #FF69B4;
}
p.snglp a:hover{
    color: #999;
}
p.snglp span {
    color: #FF69B4;
    margin-left: 5px;
}
.blog-grids {
    padding-left: 0;
    margin-top: 2em;
}
.blog-grids.blog-grids-w3ls {
    padding: 0 0 0 1em;
}
a.more {
    font-size: 1em;
    color: hotpink;
    display: inline-block;
    margin-top: 1em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
a.more span.glyphicon{
    font-size: .8em; 
}
a.more:hover {
    color: #8A2BE2;
    margin-left: .5em;
}
.blog-w3text {
    background: #FF69B4;
    width: 45%;
    text-align: center;
    position: absolute;
    top: 7%;
    left: -50%;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.blog-w3text ul li{ 
	display:block;	
} 
.blog-w3text ul li a {
    display: block;
	padding: 1em;
	-moz-opacity: 0.7; 
	opacity: 0.7;
}
.blog-w3text ul li a:hover {
	-moz-opacity: 1;
    opacity: 1;
}
.blog-w3text ul li a span.glyphicon {
    font-size: 1.3em;
    color: #fff;
}
.blog-w3text ul li a h6 {
    font-size: 0.9em;
    color: #fff;
    margin-top: .5em;
}
.blog-grids-left:hover .blog-w3text{
	left: 0%;
}
.blog-grids-left a {
    display: block;
}
/*-- //blog --*/
/*-- single --*/ 
.single-page .blog-img {
    overflow: hidden;
    height: 450px;
}
.single-page h4 {
    font-size: 1.8em;
    color: #FF69B4;
    margin: 0.8em 0 .3em;
}
.article-links {
    margin-top: 1.5em;
}
.article-links ul {
    padding: 1em 0;
    border: 1px dotted #CECECE;
    border-left: none;
    border-right: none;
}
.article-links ul li {
    display: inline-block; 
    padding-left: 4em;
    color: #999;
    font-size: 1em;
}
.article-links ul li:nth-child(1) {
    padding-left: .5em;
}
.article-links ul li i {
    vertical-align: inherit;
    margin-right: .8em;
}
.article-links ul li a{
	color: #999;
}
.article-links ul li a:hover{
	text-decoration:underline;
	color:#8A2BE2;
}
.article-content h4{
	color: #000;
    text-align: left;
    text-transform: capitalize;
    font-size: 1.7em;
    margin: 0 0 1em;
}
.article-content p {
	color: #999;
	font-size: 1em;
	line-height: 1.8em;
	margin:2em 0;
}
/*-- admin-text --*/
.admin-text {
    border: 1px solid #E4E4E4;
    padding: 2em 4em;
    margin: 4em 0 0;
	background: #fff;
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
	transition: .5s all;
}
.admin-text:hover {
    border-color: #FF69B4;
}
.admin-text h5 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
    color: #8A2BE2;
}
.admin-text-left {
    float: left;
    width: 7%;
}
.admin-text-left a {
    display: block;
}
.admin-text-left a img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
    border-radius: 50%;
}
.admin-text-right {
    float: left;
    width: 85%;
    margin-left: 2em;
}
.admin-text-right p {
    font-size: 1em;
    margin: 0 0 1em;
}
.admin-text-right span {
    font-size: 1.1em;
    margin: 0 0 1em 0;
    color: #555;
}
.admin-text-right span a {
	color: #FF69B4;
}
.admin-text-right span a:hover{
	color: #999;
}
/*-- related-posts --*/
.related-posts {
  margin: 0;
}
.related-grids {
  padding-left: 0 !important;
}
.related-posts img{
	width: 100%;
}
.related-grids h5 {
    font-size: 1.3em;
}
.related-grids h5 a {
  color: #000;
}
.related-grids h5  a:hover{
  color: #FF69B4;
}
a.thumbnail {
    border-radius: inherit;
    padding: 8px;
    background-color: #FF87C3;
	border-color: #fff;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #FF69B4;
}
/*-- comment-form --*/
.table-form input[type="text"],.table-form textarea{
	border:1px solid #E3E3E3;
	outline: none;
	padding: .8em 1em;
	color:#999;
	overflow: hidden;
	display: block;	
	font-size: 1em;
	background:none;
}
.table-form .email{
	margin:1em 0;
}
.table-form textarea{
	min-height:200px;
	resize: none;
	margin:1em 0;
}
.table-form input[type="submit"],.table-form textarea,.table-form input[type="text"],.table-form input[type="email"] {
	width:70%;
}
.table-form input[type="submit"] {
	background:#FF69B4;
	color: #fff;
	font-size: 1.2em;
	display: block;
	outline: none;
	border: none;
	padding:0.5em 0;
	text-align:center;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.table-form input[type="submit"]:hover{
	background:#8A2BE2;
}
.comment-grid-top h3, .article-commentbox h3, .related-posts h3 {
    color: #8A2BE2; 
    margin: 1.2em 0 .5em;
    font-size: 2.5em;
}
.top-comment-left{
	float: left;
	width: 13%;
}
.top-comment-right{
	float: left;
	width:84%;
	margin-left:1em;
}
.top-comment-right ul{
	padding: 0;
	margin: 0;
}
.top-comment-right ul li {
    display: inline-block;
    color: #000;
    padding: 0 0.3em; 
    font-size: 1.1em;
	font-weight: 300;
}
.top-comment-right ul li a {
    text-decoration: none; 
    color: #FF69B4;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.top-comment-right ul li a:hover{
	color:#8A2BE2;
}
.top-comment-right p { 
  margin:0.8em 0 0;
  line-height: 1.8em;
}
.comments-top-top { 
	border: 1px solid #E4E4E4;
	padding: 2em;
	width: 70%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.comments-top-top.top-grid-comment {
    margin: 2em 0 0;
}
.comments-top-top:hover{
	border-color:#FF69B4;
}
.blog-top p {
	font-size: 1em;
	color: #fff;
	line-height: 1.8em;
	text-align: left;
	margin: 1em 0;
}
.article-content img {
  width: 100%;
}
.article-links ul li span {
    font-size: 1.1em;
    display: inline-block;
    font-weight: 300;
}
/*-- //single --*/
/*-- short-codes --*/
.codes h3.title1 {
    margin-bottom: 0.5em;
}
.codes h3.title1,.codes h4.title {
    text-align: right;
}
.codes span.bg-text{
	top:1%;
}
.gallery span.bg-text,.contact span.bg-text,.testimonial span.bg-text{
	top:3%;
}
h3.hdg {
    font-size: 2.5em;
    color: #EA495F !important;
    font-weight: 300;
}
.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #555;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:30px;
}
.label {
	font-weight: 300 !important;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
    margin-bottom: 0.5em;
    color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	-webkit-border-radius: 0 2px 2px 2px;
	-moz-border-radius: 0 2px 2px 2px;
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:991px){
.list-group {
    margin-bottom: 25px;
}
.grid_3 {
    margin-bottom: 0em;
}
.grid_5 {
    padding: 1em 0;
}
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 1em;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 1em;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
.grid_4 {
    margin-top: 30px;
}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.codes .alert {
		font-size: 0.9em;
		padding: 10px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 1em;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 13px!important;
	}
	.codes .row {
		margin: 0;
	}
}
/*-- //Short-codes --*/
/*---- responsive-design -----*/
@media(max-width:1440px){
.address { 
    padding: 4em 5em 4em 23em; 
    width: 45%;
}
.banner.about-banner {
    min-height: 230px;
}
.banner.about-banner .banner-text {
    margin-top: 7%;
}
}
@media(max-width:1366px){
.banner { 
    min-height: 650px; 
}
.banner-text { 
    margin-top: 12%;
}
.address {
    padding: 4em 5em 4em 20em;
    width: 45%;
}
}
@media(max-width:1280px){
.banner-text h2 { 
    font-size: 8em; 
}
.banner-text h4 { 
    font-size: 3.3em; 
}
.banner-text h3 { 
    font-size: 4.5em; 
}
.address {
    padding: 3em 5em 3em 20em;
    width: 47%;
}
.map iframe { 
    min-height: 450px; 
}
.banner.about-banner {
    min-height: 190px;
}
.banner.about-banner .banner-text h2 {
    font-size: 3.5em; 
}
.banner.about-banner .banner-text {
    margin-top: 6%;
}
.footer {
    padding: 2.5em 0; 
}
}
@media(max-width:1080px){
.banner-text { 
    width: 71%; 
}
.banner {
    min-height: 600px;
}
.navbar-nav > li {
    margin: 0 1em;
}
.navbar-default .navbar-nav > li > a { 
    font-size: 1.2em; 
}
.header {
    padding: 1em 0;
}
.w3ls-title h3 {
    font-size: 2.8em; 
	width: 28%; 
}
.slid { 
    padding: 5em 0 7em;
}
.slid h3 {
    font-size: 3.5em; 
} 
.features-grid { 
    padding: 0 1.5em;
}
.banner-text h2 {
    font-size: 7.6em;
}
.subscribe form { 
    width: 35%;
}
.address {
	top: 12%;
    padding: 3em 4em 3em 13em; 
}
.map iframe {
    min-height: 400px;
}
.about .w3ls-title h3 {
    width: 20%;
}
.about-left {
    padding: 0;
}
.about h5 {
    font-size: 1.6em; 
}
.panel-group {
    margin: 1em 0 0;
}
.panel-body {
    padding: 0.5em 0.8em 0.5em; 
}
.panel-title {
    font-size: 1.2em; 
}
.panel-group {
    margin: 0.5em 0 0;
}
.skills, .features, .subscribe, .about, .about-slid, .team, .gallery, .contact, .blog, .codes {
    padding: 4em 0;
}
.captn h4 { 
    font-size: 1.9em; 
}
.team .social-icons { 
    padding: 1em 1em; 
}
.captn-top {
    padding: 17% 10%;
}
.banner.about-banner {
    min-height: 170px;
}
.wpf-demo-4 { 
    height: 203px;
}
.wpf-demo-4:hover .view-caption { 
    -webkit-transform: translateY(-77%); 
    -moz-transform: translateY(-77%); 
    -o-transform: translateY(-77%); 
    -moz-transform: translateY(-77%); 
    transform: translateY(-77%); 
}
.blog-grids-right { 
    padding: 1em;
    height: 205px;
}
.blog p { 
    font-size: .9em;
}
.blog-w3text ul li a { 
    padding: 0.5em 0;
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.contact input[type="text"] {
    width: 47.1%; 
}
}
@media(max-width:1024px){
.pricing-bottom { 
    padding: 1.5em; 
}
.contact-right {
    padding: 0;
}
.contact-text { 
    padding: 2em 1.4em;
}
.contact textarea { 
    min-height: 11em; 
}
.banner.about-banner .banner-text h2 {
    font-size: 3.3em;
}
}
@media(max-width:991px){
.navbar-default .navbar-nav > li > a { 
    padding: 0.7em 0; 
}
.banner-text h2 {
    font-size: 7em;
}
.banner-text h4 {
    font-size: 3em;
}
.banner-text h3 {
    font-size: 4em;
}
.banner-text {
    width: 75%;
}
.banner {
    min-height: 535px;
}
.w3ls-title h3 {
    font-size: 2.6em;
    width: 35%;
}
.skills-left {
    width: 30%;
    margin: 0 auto;
}
.skills-w3row {
    margin-top: 1em;
}
.skills h4 {
    font-size: 2.3em;
    margin: 1em 0;
}
.slid h3 {
    font-size: 3.2em;
}
.slid p { 
    width: 78%; 
}
.slid {
    padding: 4em 0 6em;
	margin: 1.5em auto 0;
}
.features-grid {
    padding: 0 0.5em;
    float: left;
    width: 33.33%;
}
.features h5 {
    font-size: 1.5em;
}
.features span {
    padding: 0.8em;
}
.subscribe form {
    width: 46%;
}
.address { 
    padding: 3em 4em 3em 11em;
}
.banner.about-banner {
    min-height: 140px;
}
.about .w3ls-title h3 {
    width: 26%;
}
.about-left {
    width: 33%;
    margin: 0 auto;
}
.pricing-top {
    padding: 1em 0; 
}
.pricing-top h3 { 
    font-size: 1.6em; 
}
.pricing-top p { 
    margin: 0.5em 0 0 0;
}
.pricing-bottom-bottom {
    padding: 1em 0; 
}
.pricing-bottom-top {
    padding-bottom: 1em;
}
.pricing-bottom-bottom p span { 
    font-size: 1.5em;
}
.buy-button a { 
    padding: .5em 1.5em; 
}
.team-grids {
    float: left;
    width: 50%;
    margin-top: 1em;
    padding: 0 .5em;
}
.team-row {
    width: 61%;
    margin: 0 auto;
}
.gallery-grid {
    float: left;
    width: 50%;
}
.wpf-demo-4 {
    height: 236px;
}
.blog-grids-right {
    padding: 2em;
    height: 317px;
}
.blog p {
    font-size: 1em;
}
.blog-grids {
    padding: 0 1em;
    margin-top: 1em;
}
.blog-grids-right {
    padding: 2em;
    height: 311px;
}
.blog-grids.blog-grids-w3ls {
    padding: 0 1em;
}
.blog-w3text ul li a {
    padding: 1.5em 0; 
}
.contact input[type="text"] {
    width: 47.9%;
}
.contact-text {
    padding: 2em 1.4em;
    margin: 1em 1em 0;
}
}
@media(max-width:900px){
.address {
    padding: 2em 3em 2em 8em;
}
.map .w3ls-title h3 {
    font-size: 1.8em;
    width: 63%; 
}
.map iframe {
    min-height: 355px;
}
.banner.about-banner {
    min-height: 135px;
}
.single-page h4 {
    font-size: 1.6em; 
}
.article-links ul li { 
    padding-left: 2em; 
}
.admin-text { 
    padding: 2em 2em; 
}
.admin-text-left { 
    width: 10%;
}
.related-grids h5 {
    font-size: 1.2em;
}
.thumbnail {  
    margin-bottom: 10px; 
}
.comments-top-top { 
    padding: 1.5em;
    width: 100%; 
}
.table-form input[type="text"], .table-form textarea { 
    padding: .6em 1em; 
}
.table-form textarea {
    min-height: 150px; 
}
.comment-grid-top h3, .article-commentbox h3, .related-posts h3 { 
    font-size: 2em;
}
}
@media(max-width:800px){
.banner-text h2 {
    font-size: 6em;
}
.banner-text h3 {
    font-size: 3.3em;
}
.banner-text h4 {
    font-size: 2.5em;
}
.banner {
    min-height: 450px;
}
.banner-text {
    margin-top: 9%;
}
.skills, .features, .subscribe, .about, .about-slid, .team, .gallery, .contact, .blog, .codes {
    padding: 3em 0;
}
.w3ls-title h3 {
    font-size: 2.5em;
    width: 33%;
    margin: 0 auto 0.8em;
}
.skills h4 {
    font-size: 2.1em; 
}
.slid {
    padding: 3em 0 5em;
    margin: 0;
}
.slid h3 {
    font-size: 2.5em;
}
.slid p { 
    margin: 1em auto 0;
}
.map .w3ls-title h3 { 
    width: 75%;
}
.footer {
    padding: 2em 0;
}
.footer h3 {
    font-size: 2.5em; 
}
.banner.about-banner .banner-text h2 {
    font-size: 2.8em;
}
.banner.about-banner {
    min-height: 122px;
}
.flip-content {
    width: 230px;
}
.pricing-bottom {
    padding: 1em;
}
.pricing-bottom-top p { 
    font-size: 0.9em; 
}
}
@media(max-width:768px){
.map .w3ls-title h3 {
    font-size: 1.6em; 
}
.address {
    padding: 2em 3em 2em 7em;
}
}
@media(max-width:767px){
.navbar-default .navbar-nav > li > a { 
    text-align: center;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background: whitesmoke;
}
.navbar-default .navbar-toggle {
    border-color: #FF69B4;
    background: hotpink;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FF69B4;
}
}
@media(max-width:736px){
.address { 
    width: 49%;
}
}
@media(max-width:640px){
.navbar-header h1 {
    font-size: 2.5em; 
}
button.navbar-toggle {
    margin: 3px 0;
}
.navbar-default { 
    min-height: inherit;
}
.banner-text h2 {
    font-size: 5em;
}
.banner-text h3 {
    font-size: 3.1em;
}
.banner-text p { 
    font-size: 0.9em; 
}
.banner {
    min-height: 410px;
}
.w3ls-title h3 {
    font-size: 2.2em; 
}
.slid p {
    width: 88%;
}
.slid h3 {
    font-size: 2.3em;
}
.slid {
    padding: 2.5em 0 5em; 
}
.features span {
    padding: 0.7em;
}
.features h5 {
    font-size: 1.4em;
}
.subscribe h4 { 
    font-size: 1.8em;
}
.subscribe form {
    width: 53%;
}
.map .w3ls-title h3 {
    font-size: 1.5em; 
	width: 63%;
}
.address {
    padding: 2em 3em 2em 9em;
    width: 60%;
}
.about-left {
    width: 43%; 
}
.about h5 {
    font-size: 1.4em;
    margin-top: 0.5em;
}
.about-right p { 
    margin-top: 0.5em;
}
.panel-title {
    font-size: 1.1em;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
.pricing-bottom-bottom {
    padding: 0.5em 0;
}
.pricing-bottom-bottom p span {
    font-size: 1.4em;
}
.pricing-top {
    padding: 0.8em 0;
}
.pricing-top h3 {
    font-size: 1.4em;
}
.buy-button {
    margin: 1em 0 0 0;
}
.buy-button a { 
    font-size: 0.9em; 
}
.team-row {
    width: 85%;
}
.captn-top {
    padding: 24% 10%;
}
.footer {
    padding: 1.5em 0;
}
.footer p { 
    margin-top: 0.5em;
}
.gallery-grid { 
    padding: 0 .5em;
	margin-top: 1em;
}
.wpf-demo-4 {
    height: 208px;
}
#jzBoxTargetImg {
    max-width: 87%;
}
.blog-grids-right { 
    height: 262px;
}
.single-page .blog-img { 
    height: 315px;
}
.single-page h4 {
    font-size: 1.4em;
}
.article-links ul li { 
    font-size: 0.9em;
}
.article-links {
    margin-top: 1em;
}
.admin-text { 
    margin: 2em 0 0; 
}
.admin-text-left {
    width: 13%;
}
.admin-text-right { 
    width: 84%;
    margin-left: 1em;
}
.admin-text {
    padding: 1.5em;
}
a.thumbnail { 
    padding: 4px; 
}
.related-grids h5 {
    font-size: 1em;
}
.contact input[type="text"] {
    width: 48.7%;
    margin-bottom: 1em;
}
.contact textarea {
    min-height: 9em;
}
.contact input[type="submit"] { 
    margin: 0.5em 0 0 0; 
}
.contact input.email {
    margin: 0 0 0 1em;
}
.contact-text {
    padding: 1.5em; 
}
}
@media(max-width:600px){
.skills ul li { 
    margin: 0 1em 0 0;
}
.w3ls-title h3 { 
    width: 37%; 
}
.address { 
    width: 65%;
}
.subscribe form {
    width: 57%;
}
.wpf-demo-4 {
    height: 187px;
}
.blog-grids-right {
    height: 236px;
    padding: 1.5em;
}
}
@media(max-width:568px){
.subscribe form {
    width: 61%;
}
.address {
    width: 69%;
}
.skills ul li {
    margin: 0 2em 1em;
}
.w3ls-title h3 {
    width: 41%;
}

}
@media(max-width:480px){
.banner-text h2 {
    font-size: 4.5em;
}
.banner-text h4 {
    font-size: 2.3em;
}
.banner-text h3 {
    font-size: 2.5em;
}
.banner-text {
    width: 96%;
}
.banner {
    min-height: 377px;
}
.w3ls-title h3 { 
    width: 46%; 
	margin: 0 auto 0.6em;
}
.skills, .features, .subscribe, .about, .about-slid, .team, .gallery, .contact, .blog, .codes {
    padding: 2.5em 0;
}
.skills-left {
    width: 60%; 
}
.skills ul li { 
    margin: 0 4em 1em 0;
}
.features-grid {
    padding: 0;
    float: none;
    width: 80%;
    margin: 0 auto;
}
.features-grid:nth-child(2) {
    margin: 2em auto;
}
.subscribe h4 {
    font-size: 1.6em;
}
.subscribe p {
    margin: 1em 0;
}
.subscribe input[type="text"] { 
    padding: 0.6em; 
}
.subscribe input[type="submit"] { 
	padding: 0.6em 1em; 
}
.subscribe form {
    width: 69%;
}
.address {
    padding: 2em 2em 2em 9em;
    width: 79%;
}
.map iframe {
    min-height: 338px;
}
.banner.about-banner {
    min-height: 99px;
}
.about .w3ls-title h3 {
    width: 37%;
}
.about-left {
    width: 59%;
}
.about h5 {
    font-size: 1.3em; 
}
.team-row {
    width: 100%;
}
.captn-top {
    padding: 18% 10%;
}
.wpf-demo-4 {
    height: 150px;
}
.wpf-demo-4:hover img { 
    margin-left: -54px; 
}
.blog-grids ,.blog-grids.blog-grids-w3ls{
    padding: 0 3em; 
}
.blog-grids-left {
    float: none;
    width: 100%; 
}
.blog-grids-right {
    height: inherit;
    float: none;
    width: 100%;
}
.blog-w3text { 
    top: 16%; 
}
.single-page .blog-img {
    height: 245px;
}
.single-page h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}
.article-links ul li {
    padding-left: 1em;
    margin: .5em 0;
}
.admin-text-left {
    width: 18%;
}
.admin-text-right {
    width: 78%; 
}
.admin-text {
    padding: 1em;
}
.admin-text-right p { 
    margin: 0 0 0.5em;
}
.comment-grid-top h3, .article-commentbox h3, .related-posts h3 {
    font-size: 1.6em;
}
.related-grids { 
    width: 50%;
    margin-top: 1em;
}
.comments-top-top {
    padding: 1em; 
}
.top-comment-right { 
    width: 81%; 
}
.table-form input[type="submit"], .table-form textarea, .table-form input[type="text"], .table-form input[type="email"] {
    width: 80%;
}
.contact input[type="text"] {
    width: 48.1%; 
}
.contact input[type="submit"] { 
    padding: 0.5em 2.5em; 
}
ul.flip-items {
    width: 195px !important;
}
.flip-content {
    width: inherit;
}
.pricing-bottom-top p {
    font-size: 0.81em;
}
}
@media(max-width:414px){
.w3ls-title h3 {
    width: 53%; 
    font-size: 2.1em;
}
.features-grid:nth-child(2) {
    margin: 1em auto;
}
.subscribe form {
    width: 75%;
}
.address {
    padding: 2em 1em 2em 5em; 
}
.team-grids {
    float: none;
    width: 59%;
    margin: 1em auto;
    padding: 0;
}
.captn-top {
    padding: 21% 10%;
}
.wpf-demo-4 {
    height: 265px;
}
.gallery-grid {
    padding: 0; 
    float: none;
    width: 100%;
}
.wpf-demo-4:hover img {
    margin-left: -42px;
}
.blog-grids, .blog-grids.blog-grids-w3ls {
    padding: 0 1em;
}
.blog-w3text {
    top: 14%;
}
.contact input[type="text"] {
    width: 100%;
    font-size: 0.9em;
    padding: .6em 1em;
    float: none;
}
.contact input.email {
    margin: 0 0 1em 0;
}
.contact input[type="submit"] { 
    font-size: 0.9em; 
} 
.contact-text p { 
    font-size: 1em; 
}
.contact-right h4 {
    font-size: 1.6em; 
}
.flip-content {
    width: 205px;
}
}
@media(max-width:384px){
.banner.about-banner .banner-text h2 {
    font-size: 2em;
}
.banner.about-banner {
    min-height: 79px;
}
.skills ul li {
    margin: 0 1em 1em;
}
.slid p {
    width: 100%;
}
.slid h3 {
    font-size: 2em;
}
.slid {
    padding: 2em 0 4em;
}
.w3ls-title h3 {
    width: 56%; 
}
.subscribe form {
    width: 82%;
}
.team-grids { 
    width: 65%; 
}
.skills, .features, .subscribe, .about, .about-slid, .team, .gallery, .contact, .blog, .codes {
    padding: 2em 0;
}
.about .w3ls-title h3 {
    width: 45%;
}
.wpf-demo-4 {
    height: 241px;
}
.blog-grids-right {
    padding: 1em; 
}
.blog-w3text {
    top: 8%;
}
.admin-text-left {
    width: 100%;
    text-align: center;
}
.admin-text-right {
    width: 100%;
}
.table-form input[type="submit"], .table-form textarea, .table-form input[type="text"], .table-form input[type="email"] {
    width: 90%;
}
.table-form input[type="submit"] { 
    font-size: 1em; 
}
.address { 
    width: 81%;
}
.flip-content {
    width: 200px;
}
.about-right {
    padding: 0;
}
.single-page .blog-img {
    height: 175px;
}
}
@media(max-width:375px){
.wpf-demo-4 {
    height: 234px;
}
.w3ls-title h3 {
    width: 59%;
}
.address {
    width: 82%;
}
.subscribe form {
    width: 84%;
}
}
@media(max-width:320px){
.navbar-header h1 {
    font-size: 2.3em;
}
.navbar-toggle { 
    padding: 7px 8px; 
}
.header {
    padding: 0.8em 0;
}
.banner-text h2 {
    font-size: 3em;
}
.banner-text h4 {
    font-size: 1.8em;
}
.banner-text h3 {
    font-size: 2em;
}
.banner-text {
    width: 100%;
}
.banner {
    min-height: 345px;
}
.skills, .features, .subscribe, .about, .about-slid, .team, .gallery, .contact, .blog, .codes {
    padding: 1.5em 0;
}
.w3ls-title h3 {
    font-size: 1.6em;
    width: 55%;
}
.subscribe h4 {
    font-size: 1.5em;
}
.skills h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
}
.skills-right {
    padding: 0;
}
.slid {
    padding: 2em 0 3em;
}
.slid h3 {
    font-size: 1.8em;
}
.slid p { 
    font-size: .9em;
}
.features-w3ls-row {
    margin-top: 2em;
}
.features-grid { 
    width: 100%; 
}
p {
    font-size: 0.9em; 
}
.subscribe form {
    width: 89%;
}
.subscribe p br {
    display: none;
}
.subscribe input[type="submit"] { 
    margin-left: 0.5em;
}
.skills ul li {
    margin: 0 1em 1em;
}
.subscribe form {
    width: 89%;
}
.address {
    padding: 1em 0em 1em 3em;
	width: 88%;
}
.map iframe {
    min-height: 289px;
}
.map .w3ls-title h3 { 
    width: 66%;
	margin: 0 0 0.8em;
}
.about-left {
    width: 85%;
}
.panel-body { 
    font-size: 0.9em; 
}
.pricing-bottom-top p {
    font-size: 0.8em;
}
.pricing-bottom {
    padding: 0.5em;
}
.pricing-top h3 {
    font-size: 1.2em;
}
.pricing-top {
    padding: 0.5em 0;
}
.pricing-bottom-top {
    padding-bottom: 0.5em;
}
.pricing-bottom {
    padding: 0.5em;
}
.pricing-bottom-top p {
    font-size: 0.75em;
}
.pricing-bottom-bottom p span {
    font-size: 1.2em;
}
.buy-button a {
    font-size: 0.85em;
}
.team-grids {
    width: 76%;
}
.banner.about-banner {
    min-height: 65px;
}
.wpf-demo-4 {
    height: 207px;
}
.wpf-demo-4 {
    height: 194px;
}
#jzBoxTargetImg {
    margin: 23% 0 1% 0; 
}
.blog-grids, .blog-grids.blog-grids-w3ls {
    padding: 0;
}
.blog-w3text ul li a {
    padding: 1em 0;
}
.blog-w3text { 
    width: 40%; 
}
.blog-grids-right h4 {
    font-size: 1.4em;
}
p.snglp {
    margin: 0.5em 0 .3em;
}
.blog p {
    font-size: 0.9em;
}
.single-page .blog-img {
    height: 150px;
}
.single-page h4 {
    font-size: 1.2em; 
    margin: 0.5em 0 .3em;
}
.admin-text-right { 
    margin-left: 0;
}
.related-grids {
    width: 100%; 
    padding: 0;
}
.top-comment-right ul li { 
    font-size: 0.9em; 
}
.table-form input[type="submit"], .table-form textarea, .table-form input[type="text"], .table-form input[type="email"] {
    width: 100%;
    font-size: 0.9em;
}
.comment-grid-top h3, .article-commentbox h3, .related-posts h3 { 
    margin: 1em 0 .5em; 
}
.contact-form {
    padding: 0;
}
.contact-text { 
    margin: 1em 0;
}
.contact-text p {
    font-size: 0.9em;
}
.navbar-default .navbar-nav > li > a {
    padding: 0.6em 0;
    font-size: 1.1em;
}
.flip-content {
    width: 170px;
}
.buy-button {
    margin: 0.5em 0 0 0;
}
.buy-button a {
    padding: .5em 1em;
}

}
/*-- //responsive-design ---*/
.cookie-banner {
    position: fixed;
    display: flex;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 15px 15px;
    align-items: start;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.close-cookie {
    height: 20px;
    width: 40px;
    background-color: #d5d5d5;
    border: none;
    color: #000000;
    border-radius: 2px;
    cursor: pointer;
    opacity: 1 !important;
}

.cookie-banner p {
    padding: 10px;
}